Library/*
Builds/*
Temp/*
*.sln
*.csproj
*.userprefs
*.userprefs
*.DS_Store
*.bytes
obj/*
Assets/Experiments/* 
Website/*
Assets/Resources/Test/bootstrap*
Assets/Resources/Test/Levels*
Assets/Resources/Test/Models* 
Assets/Resources/Test/Save*  
Assets/Resources/Test/ScreenShots* 